.join {
  flex-direction: row-reverse;
  display: flex;
  padding: 2px 30px;
}

.join__btn {
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
  font-family: play;
  padding: 7px 15px;
  color: #fdb62f;
  border: 1px solid;
}

.games .row {
  justify-content: space-evenly;
  margin: 12px 0px;
}

.g-card {
  padding: 10px 10px;
  position: relative;
  border-radius: 3px;
  background: white;
  margin: 0px 10px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.selected {
  filter: grayscale(1);
}
.g-card__img {
  pointer-events: none;
  width: 250px;
  height: 160px;
  margin: auto;
  display: block;
}

.g-card__detail {  
  pointer-events: none;
  display: flex;
  margin-top: 12px;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.g-card__name {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: black;
}

.g-card__name img {
  width: 28px;
}

.g-card__players {
  color: #323232;
}

.g-card:hover {
  box-shadow: 0px 0px 10px #00000075;
}

.join_dropdown {
  position: fixed;
  transition-duration: 0.5s;
  bottom: -100%;
  width: 70%;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #1b1b1b6e;
  text-align: center;
  left: 15%;
}

.join_dropdown__heading {
  font-size: 30px;
  color: #88b337;
}

.join_dropdown form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.join_dropdown input {
  padding: 7px 4px;
  margin: 10px auto;
  font-size: 18px;
  border: 1px solid;
  display: block;
}

.join_dropdown__btn {
  width: 100%;
  cursor: pointer;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-family: play;
  color: #4398d1;
  background: aliceblue;
}

.join_dropdown__cross {
  display: flex;
  position: absolute;
  top: 4px;
  right: 4px;
  border: 0px;
  background: transparent;
}

.join_dropdown__cross img {
  width: 15px;
}

.join_dropdown-active {
  bottom: 20%;
}
