.register {
  transition-timing-function: ease;
  transition-duration: 2s;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  background: #2b2b2be8;
  justify-content: center;
  align-items: center;
}

.register__up {
  position: absolute;
  top: -40px;
}

.register__up a {
  color: white;
  border-color: white;
  opacity: 0;
  font-family: roboto;
  animation: animate-btn 2s 1.5s forwards;
}

.register__navigator {
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 26px;
  font-weight: 800;
  color: #e3f2fd;
  cursor: pointer;
  font-size: 20px;
  border-color: #e3f2fd;
}

.register__forms {
  display: flex;
}

.register__form {
  background: white;
  padding: 10px;
  border-radius: 6px;
  opacity: 0;
  width: 252px;
  margin: 0px 10px;
}

.register__form input {
  background: #f5f6f7;
  display: block;
  margin: 5px 0px;
  width: 200px;
  padding: 5px 2px;
  border-radius: 0px;
  outline: none;
  border: 1px solid #ccd0d5;
}
.register .hide {
  animation: animate-form-r 2s ease forwards;
}

.register .active {
  animation: animate-form 2s ease 1s forwards;
}

.register__divider {
  margin: 10px 0px;
  height: 1px;
  background: #ccd0d5;
}

.login_error {
  color: red;
  background: white;
  width: fit-content;
  margin: 9px 0px;
  padding: 1px 8px;
  text-transform: uppercase;
  font-size: 15px;
}
.register__heading {
  color: #313131;
  letter-spacing: 1px;
}

.register__btn {
  padding: 6px 16px !important;
  color: white;
  width: fit-content !important;
  background: #34a934 !important;
  border: 0px !important;
  border-radius: 4px !important;
  font-size: 16px;
  font-weight: 700;
}

.register__down {
  bottom: 0px;
  position: absolute;
  padding: 10px 0px;
}

.errorlist {
  color: rgb(255, 61, 61);
  font-size: 13px;
  list-style: none;
}

.register__forget {
  color: rgb(255, 61, 61);
  cursor: pointer;
}

@keyframes animate-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-form {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animate-form-r {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

/* ******************* */
/*      background     */
/* ******************* */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
#ss1 {
  background: url(../images/img2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ss2 {
  background: url(../images/img1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ss3 {
  background: url(../images/img3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background {
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: roboto;
}

.background .active {
  bottom: 0px;
}

.background__nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.background__brand {
  float: left;
  padding: 10px 20px;
  display: flex;
}

.background__brand img {
  height: 30px;
}

@media (min-width: 800px) {
  .background__brand img {
    height: 50px;
  }
}

.background__login {
  float: right;
  padding: 10px;
  margin-right: 30px;
}

.background__slider {
  height: 100%;
  width: 100%;
}

.background .s-active {
  animation-name: animate-background;
  animation-duration: 2s;
  animation-timing-function: ease;
  display: flex;
}

.s_slider {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.s_slider__content {
  padding: 20px;
  font-family: roboto;
}

.s_slider__heading {
  font-weight: 800;
  color: black;
  opacity: 0;
  margin-bottom: 20px;
  animation: animate-heading 2s ease 1s forwards;
}

.s_slider__para {
  font-size: 20px;
  font-weight: 400;
  opacity: 0;
  animation: animate-para 2s ease 1.2s forwards;
}

@media (min-width: 800px) {
  .s_slider__heading {
    font-size: 76px;
  }
  .s_slider__para {
    font-size: 26px;
  }
}

@keyframes animate-background {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-heading {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animate-para {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.login__input {
  border: none;
  outline: none;
  padding: 5px;
  background: none;
  width: 120px;
  font-size: 13px;
  border-radius: 0px;
  color: white;
  border-bottom: 2px solid;
}

.login__input::placeholder {
  color: white;
}

.login__submit {
  padding: 5px 10px;
  border: none;
  background: white;
  color: #2933ac;
  font-weight: 500;
  text-transform: uppercase;
}

.message {
  position: absolute;
  width: 60%;
  left: 20%;
  color: red;
  z-index: 3;
  font-weight: 700;
  background: white;
  text-align: center;
  font-size: 13px;
  padding: 5px 0px;
  top: 3%;
}
