.SNL {
  background: #97bc62ff;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.SNL__card {
  flex-shrink: 0;
  margin: auto;
}

.SNL__player {
  width: 10px;
  height: 10px;
  background: white;
  transition-duration: 00.5s;
  bottom: 0px;
  position: absolute;
  left: -20px;
  opacity: 0.5;
  border: 1px solid black;
  border-radius: 50%;
}

.SNL__notification {
  position: absolute;
  right: 5px;
  top: 10px;
}

.SNL__details {
  height: 300px;
  text-align: center;
  position: relative;
}

.SNL__id {
  width: fit-content;
  display: flex;
  margin: auto;
  font-weight: 700;
  letter-spacing: 1.1px;
  color: #c7f18b;
  padding: 2px 8px;
  font-size: 18px;
  border-radius: 3px;
  border: 2px solid #efefe8;
}

.SNL__states {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px #0000006e;
  min-width: 230px;
  background: #c7f08b;
  justify-content: space-evenly;
}

.disable {
  filter: grayscale(0.8);
}
.SNL__state {
  font-weight: 700;
  padding: 4px 0px;
  color: #507e3f;
}

.SNL__players {
  list-style: none;
  margin: auto;
}

.SNL__online {
  font-size: 15px;
  letter-spacing: 1.1px;
  color: #464646;
}

.SNL__dice {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 40px;
  bottom: -3px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #0000006e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background: #c7f08b;
}

@media (min-width: 942px) {
  .SNL__notification {
    top: 40px;
  }
  .SNL__dice {
    bottom: 32px;
  }
}

.current_player,
.timer {
  color: black;
}

.game_board {
  background: url(../images/snakeBoard.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px #0000006e;
  height: 300px;
  width: 300px;
  border: 2px solid #efefe8ff;
  border-radius: 5px;
  margin: auto;
  position: relative;
}

.game_board .RED {
  background: red;
}
.game_board .GREEN {
  background: green;
}
.game_board .YELLOW {
  background: yellow;
}
.game_board .BLUE {
  background: blue;
}
@media (min-width: 942px) {
  .game_board {
    height: 500px;
    width: 500px;
  }
}

.notification {
  display: flex;
  background: #efefe8ff;
  align-items: center;
  padding: 4px 0px;
  margin: 10px 0px;
  justify-content: space-between;
}

.notification__btn {
  display: flex;
  align-items: center;
  border-radius: 0px;
  border: 0px;
  background: none;
  justify-content: center;
}

.notification__bell {
  padding: 0px 0px 0px 2px;
}

.notification img {
  height: 20px;
  width: 20px;
  transform: scale(0.7);
}

.notification__msg {
  margin: 0px 10px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  width: fit-content;
  font-weight: 600;
  color: #2c5f2d;
}

.id {
  color: #2c5f2d;
  margin-left: 10px;
}

.player {
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0px;
  background: #c7f08b;
  border-radius: 3px;
  position: relative;
  font-weight: 600;
}

.player__rank {
  left: -35px;
  top: 5px;
  position: absolute;
}

.player__rank img {
  height: 25px;
}

.player__ {
  color: #767676;
}

.player .BLUE {
  color: blue;
}

.player .YELLOW {
  color: yellow;
}

.player .RED {
  color: red;
}

.player .GREEN {
  color: green;
}

.settings {
  display: flex;
  list-style: none;
  position: absolute;
  right: 0px;
  align-items: center;
  bottom: 0px;
}

.settings__item {
  margin-left: 10px;
}

.settings__btn {
  display: flex;
  border: none;
  outline: none;
  height: 35px;
  position: relative;
  align-items: center;
  width: 35px;
  background: no-repeat;
  border-radius: 50%;
  justify-content: center;
}

.settings__btn img {
  pointer-events: none;
}

.on {
  background: #c7f08b;
}
.on img {
  filter: brightness(0.5);
}
.settings__btn:hover {
  box-shadow: 0px 0px 6px #00000085;
  outline: none;
}

.settings img {
  height: 105%;
  width: 105%;
}

#exit img {
  height: 43px;
  width: 43px;
  margin-bottom: -2px;
}

#sound img {
  height: 25px;
  width: 25px;
}

#chat img {
  margin-bottom: -2px;
  margin-left: -1px;
}

.exit {
  background: #c7f08b;
  position: absolute;
  left: 10%;
  width: 80%;
  box-shadow: 0px 0px 8px #000000c9;
  bottom: -100%;
  transition-duration: 0.5s;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.exit__heading {
  font-size: 36px;
  margin-bottom: 30px;
  color: #507e3f;
}

.exit__list {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}

.exit__item {
  text-align: center;
}

.exit__btn {
  display: flex;
  border-radius: 50%;
  height: 65px;
  align-items: center;
  width: 65px;
  border: 2px solid transparent;
  justify-content: center;
}

.exit__btn:hover {
  box-shadow: 0px 0px 10px black;
  outline: none;
}

.exit .leave {
  background: red;
}

.exit .stay {
  background: #507e3f;
}

.settings__btn img {
  pointer-events: none;
}

.exit img {
  height: 44px;
  width: 44px;
  filter: invert(1);
  transform: scale(0.6);
}

.exit__option {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: 1.2px;
}

.exit__para {
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-top: 10px;
}

.show_exit {
  bottom: 24%;
}

/* winners */

.winners {
  position: absolute;
  width: 80%;
  display: none;
  z-index: 11;
  background: white;
  top: 5%;
  left: 10%;
  height: 90%;
  border-radius: 3px;
  box-shadow: 10px 0px 10px #0000002e;
}
.winner_animate_div {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.winner__heading {
  font-size: 50px;
  font-weight: 700;
  color: #fdd835;
  margin-bottom: 20px;
}
.winners__leaved {
  margin-top: 10px;
}
.winners__wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.winner_animate {
  animation: animate-wrapper 1s 1 ease forwards;
}

@keyframes animate-wrapper {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  font-size: 15px;
}

.winners__img {
  font-size: 20px;
  color: #7cb342;
}

.winner__name {
  font-size: 20px;
  letter-spacing: 1.1px;
  font-weight: 700;
}

.winners__btns {
  width: 60%;
  margin-top: 50px;
  justify-content: space-evenly;
  display: flex;
}
.winners__room {
  padding: 8px 15px;
  background: #97bc62;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.2px;
  border: 0px;
  box-shadow: 0px 0px 3px #0000007d;
}

.winners__exit {
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
  background: #f4511e;
  color: white;
  font-weight: 800;
  letter-spacing: 1.2px;
  border: 0px;
  box-shadow: 0px 0px 3px #0000007d;
}

.unread {
  position: absolute;
  background: red;
  padding: 3px 9px;
  top: -20px;
  right: -10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 2px #000000a1;
  font-weight: 800;
  display: none;
}

.show_unread {
  display: block;
}

.websocket_message {
  position: fixed;
  color: white;
  bottom: 15%;
  width: 100%;
  text-align: center;
  font-style: italic;
  z-index: 100;
  font-weight: 700;
  font-size: 13px;
}
