{% load static %} {% include "base.html" %} {% block links %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<style>
  body {
    background: #eeeeee;
  }
</style>
{% endblock links %} {% block body %}
username:{{username}}
coins:{{user.coins}}
Date of birth:{{user.DOB}}
Gender:{{user.gender}}
Total Matches;{{user.TotalPlayCount}}
Won:{{user.MatchesWon}}
Draw:{{user.MatchsDraw}}
Lost:{{user.MatchesLost}}
<div class="layout">
    <div class="body">
        <div>Detail</div>
        <div>Stats</div>
    </div>
    <div class="header">
        navigation
    </div>
</div>
{% endblock body %}
