{% load static %} {% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% progressive_web_app_meta %}
    <title>GameZilla</title>
    <!-- <link
      rel="shortcut icon"
      href="{% static 'icons/game.png' type='image/x-icon' %}"
    /> -->
    {% block links %} {% endblock links %}
    <link rel="stylesheet" href="{% static 'css/rotate.css' %}" />
  </head>
  <body>
    {% block body %} {% endblock body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
