{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/game_card.css' %}" />
  </head>
  <body style="background: #eee" onload="loaded()">
    <div class="spiner">
      <div class="loader"></div>
    </div>
    {% for message in messages%}
    <div class="message">{{message}}</div>
    {% endfor %}
    <div class="navigation">
      <div class="navigation__bar">
        <div class="navigation__brand">
          <img src="{% static 'icons/logo.png' %}" alt="" />
        </div>
        <span onclick="navigationBarHandler()" class="navigation__toggler">
          <img
            id="navigation-icon"
            src="{% static 'icons/arrow.png' %}"
            alt=""
          />
        </span>
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="" class="navigation__link">{{user.username}}</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link active">Home</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Report</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Something</a>
          </li>
          <li class="navigation__sub-item">Setting</li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Password Reset</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Change Email</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Logout</a>
          </li>
          <li class="navigation__sub-item">Hosted Rooms</li>
          {% if hosted_rooms %} {% for room in hosted_rooms %}
          <li id="room_{{room.room.sp_id}}" class="room">
            <div class="room__left">
              <div class="room__id">{{room.room.sp_id}}</div>
              <a href="/room/{{room.room}}">JOIN</a>
            </div>

            <button class="room__leave">
              <img
                class="d-100"
                onclick="leave(event)"
                id="{{room.room.sp_id}}"
                src="{% static 'icons/leave.png' %}"
                alt=""
              />
            </button>
          </li>
          {% endfor %} {% else %} No room {% endif %}
          <li class="navigation__sub-item">Joined Rooms</li>
          {% if joined_rooms %} {% for room in joined_rooms %}
          <li id="room_{{room.room.sp_id}}" class="room">
            <div class="room__left">
              <div class="room__id">{{room.room.sp_id}}</div>
              <a href="/join/{{room.room.sp_id}}">JOIN</a>
            </div>
            <button class="room__leave">
              <img
                class="d-100"
                onclick="leave(event)"
                id="{{room.room.sp_id}}"
                src="{% static 'icons/leave.png' %}"
                alt=""
              />
            </button>
          </li>

          {% endfor %} {% else %} No room {% endif %}
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="header">
        <a class="header__brand">
          <img src="{% static 'icons/logo.png' %}" alt="" />
        </a>
      </div>
      <div class="join">
        <button class="join__btn">JOIN GAME</button>
      </div>

      <div class="games">
        {% for game in games %}
        <a href="{% url 'host' game.code%}" class="g-card">
          <img class="g-card__img" src="{{game.img.url}}" alt="" />
          <div class="g-card__detail">
            <div class="g-card__name">
              <img src="{% static 'icons/game.png' %}" alt="" />
              <h4 class="g-card__name">{{game.game_name}}</h4>
            </div>
            <div class="g-card__players">
              {{game.min_player}}-{{game.max_player}}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="join_dropdown">
      <button class="join_dropdown__cross">
        <img src="{% static 'icons/cross.png' %}" alt="" />
      </button>
      <h3 class="join_dropdown__heading">JOIN GAME</h3>
      <form action="POST">
        <input type="text" placeholder="Game Id" />
        <input type="password" placeholder="Password" />
        <input class="join_dropdown__btn" type="submit" placeholder="JOIN" />
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/resize.js' %}"></script>

    <script>
      const animate_btn = (btn) => {
        console.log("animate");
        $(btn).addClass("animate_btn");
        setTimeout(() => {
          $(btn).removeClass("animate_btn");
        }, 100);
      };
      const leave = (event) => {
        animate_btn(event.target);
        id = event.target.id;
        $("#room_" + id).append(`<div id='spinner_${id}' class="room__cover">
          <div class="loader"></div>
        </div>`);

        $.get("/leave/" + id, function (data) {
          console.log(data);
          data = JSON.parse(data);
          if (data[["deleted"]]) {
            setTimeout(() => {
              $("#room_" + id).remove();
            }, 2000);
          } else {
            setTimeout(() => {
              // $(".message").remove();
              $("body").append(`<div class="message">${data["reason"]}</div>`);
              $("#spinner_" + id).remove();
            }, 2000);
          }
        });
      };
    </script>
  </body>
</html>
