{% load static %} {% include "base.html" %} {% block links %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/game_card.css' %}" />
<style>
  body {
    background: #eeeeee;
  }
</style>
{% endblock links %} {% block body %}
<div class="rotate">
  <p>Please turn on screen rotation and use phone in landscape mode</p>
</div>
<div class="spiner">
  <div class="loader"></div>
</div>
<div class="backdrop hide-backdrop">
  <div class="loader"></div>
</div>
{% for message in messages%}
<div class="message">{{message}}</div>
{% endfor %}
<div class="navigation">
  <div class="navigation__bar">
    <div class="navigation__brand">
      <img src="{% static 'icons/logo.png' %}" alt="" />
    </div>
    <span class="navigation__toggler">
      <img id="navigation-icon" src="{% static 'icons/arrow.png' %}" alt="" />
    </span>
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="" class="navigation__link">{{user.username}}</a>
      </li>
      {% if user.is_superuser %}
      <li class="navigation__item">
        <a href="/admin/" class="navigation__link">Admin Site</a>
      </li>
      {% endif %}
      <li class="navigation__item">
        <a href="" class="navigation__link active">Home</a>
      </li>
      <li class="navigation__item">
        <a href="{% url 'report' %}" class="navigation__link">Report</a>
      </li>
      <!-- <li class="navigation__item">
        <a href="" class="navigation__link">Something</a>
      </li> -->
      <li class="navigation__sub-item">Setting</li>
      <!-- <li class="navigation__item">
        <a href="" class="navigation__link">Password Reset</a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">Change Email</a>
      </li> -->
      <li class="navigation__item">
        <a href="{% url 'logout' %}" class="navigation__link">Logout</a>
      </li>
      <li class="navigation__sub-item">Hosted Rooms</li>
      {% if hosted_rooms %} {% for room in hosted_rooms %}
      <li id="room_{{room.sp_id}}" class="room">
        <div class="room__left">
          <div class="room__id">{{room.sp_id}}</div>
          <a href="/room/{{room}}">JOIN</a>
        </div>

        <button id="{{room.sp_id}}" class="d-100 room__leave">
          <img class="leave_icon" src="{% static 'icons/leave.png' %}" alt="" />
        </button>
      </li>
      {% endfor %} {% else %} No room {% endif %}
      <li class="navigation__sub-item">Joined Rooms</li>
      {% if joined_rooms %} {% for room in joined_rooms %}
      <li id="room_{{room.sp_id}}" class="room">
        <div class="room__left">
          <div class="room__id">{{room.sp_id}}</div>
          <a href="/join/{{room.sp_id}}">JOIN</a>
        </div>
        <button id="{{room.sp_id}}" class="d-100 room__leave">
          <img class="leave_icon" src="{% static 'icons/leave.png' %}" alt="" />
        </button>
      </li>

      {% endfor %} {% else %} No room {% endif %}
    </ul>
  </div>
</div>
<div class="main">
  <div class="header">
    <a class="header__brand">
      <img src="{% static 'icons/logo.png' %}" alt="" />
    </a>
  </div>
  <div class="join">
    <button class="join__btn">JOIN GAME</button>
  </div>

  <div class="games">
    {% for game in games %}
    <a href="{% url 'host' game.code%}" class="g-card">
      <img class="g-card__img" src="{{game.img.url}}" alt="" />
      <div class="g-card__detail">
        <div class="g-card__name">
          <img src="{% static 'icons/game.png' %}" alt="" />
          <h4 class="g-card__name">{{game.game_name}}</h4>
        </div>
        <div class="g-card__players">
          {{game.min_player}}-{{game.max_player}}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<div class="join_dropdown">
  <button class="join_dropdown__cross">
    <img src="{% static 'icons/cross.png' %}" alt="" />
  </button>
  <h3 class="join_dropdown__heading">JOIN GAME</h3>
  <form method="POST" action="{% url 'join_room' %}">
    {% csrf_token %}
    <input
      name="sp-id"
      id="id_input"
      required
      type="text"
      placeholder="Game Id"
    />
    <input class="join_dropdown__btn" type="submit" placeholder="JOIN" />
  </form>
</div>
{% endblock body %} {% block scripts %}
<script src="{% static 'js/resize.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}
